@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: hsla(181, 86%, 38%, 1);
  --dark-blue: hsla(181, 86%, 20%, 1);
  --grey: hsla(180, 15%, 50%, 1);
  --blue: hsla(181, 86%, 38%, 1);
  --Brown: hsla(33, 65%, 45%, 1);
  --green: hsla(94, 60%, 55%, 1);
  --green-light: hsla(94, 70%, 90%, 1);
  --gd-grey: hsla(100, 11%, 74%, 1);
  --gd-blue: hsla(100, 63%, 43%, 1);
  --bg-green: hsla(59, 29%, 95%, 1);
  --bg: hsla(76, 41%, 99%, 1);
  --Golden: hsla(33, 100%, 58%, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sf-pro: var(--font-sf-pro);
  --font-petrona: var(--font-petrona);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--grey);
  font-family: var(--font-sf-pro);
}

@layer base {
  h1 {
    @apply font-sf-pro text-3xl font-normal tracking-tight text-(--dark-blue) sm:text-3xl md:text-4xl lg:text-5xl;
  }
  h2 {
    @apply font-sf-pro text-2xl font-bold tracking-tight text-(--dark-blue) sm:text-3xl md:text-4xl lg:text-5xl;
  }
  h3 {
    @apply font-sf-pro text-xl font-semibold tracking-tight text-(--dark-blue) sm:text-2xl md:text-3xl lg:text-4xl;
  }
  p {
    @apply font-sf-pro text-base font-normal text-(--grey) sm:text-lg md:text-xl lg:text-2xl;
  }
  span {
    @apply font-petrona text-2xl italic font-bold tracking-tight text-(--dark-blue) sm:text-3xl md:text-4xl lg:text-5xl;
  }
}
