@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: hsla(181, 86%, 38%, 1);
  --dark-blue: hsla(181, 86%, 20%, 1);
  --grey: hsla(180, 15%, 50%, 1);
  --primary-blue: hsla(181, 86%, 38%, 1);
  --Brown: hsla(33, 65%, 45%, 1);
  --green: hsla(94, 60%, 55%, 1);
  --bg-green: hsla(59, 29%, 95%, 1);
  --bg: hsla(76, 41%, 99%, 1);
  --Golden: hsla(33, 100%, 58%, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sf-pro: var(--font-sf-pro);
  --font-petrona: var(--font-petrona);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--grey);
  font-family: var(--font-sf-pro);
}

@layer base {
  h1 {
    @apply text-3xl font-bold tracking-tight text-(--dark-blue) sm:text-3xl md:text-4xl lg:text-5xl;
  }
}
