.button {
  --bg: #000;
  --hover-bg: white;
  --hover-text: #000;
  color: white;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 24px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem 5px var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
